.preload, .tyler, .gianni, .culver, .pink, .blue, .red, .tyler-mobile, .gianni-mobile, .culver-mobile, .pink-mobile, .blue-mobile, .red-mobile  {
  transition: background-image .2s ease-in;
}
.preload {
  background-image: url('img/bg/bg-tyler.jpg'), url('img/bg/bg-pink.jpg'), url('img/bg/bg-gianni.jpg'),  url('img/bg/bg-blue.jpg'), url('img/bg/bg-culver.jpg'), url('img/bg/bg-red.jpg');
}
.tyler {
  background-image: url('img/bg/bg-tyler.jpg');
  background-color: #CDA479;
}
.gianni {
  background-image: url('img/bg/bg-gianni.jpg');
  background-color: #F8333E;
}
.culver {
  background-image: url('img/bg/bg-culver.jpg');
  background-color: #F0E8D8;
}
.pink {
  background-image: url('img/bg/bg-pink.jpg');
  background-color: #C8878D;
}
.blue {
  background-image: url('img/bg/bg-blue.jpg');
  background-color: #95A8CB;
}
.red {
  background-image: url('img/bg/bg-red.jpg');
  background-color: #AB004F;
}
.tyler-mobile {
  background-image: url('img/bg/bg-tyler-mobile.jpg');
  background-color: #CDA479;
}
.gianni-mobile {
  background-image: url('img/bg/bg-gianni-mobile.jpg');
  background-color: #F8333E;
}
.culver-mobile {
  background-image: url('img/bg/bg-culver-mobile.jpg');
  background-color: #F0E8D8;
}
.pink-mobile {
  background-image: url('img/bg/bg-pink-mobile.jpg');
  background-color: #C8878D;
}
.blue-mobile {
  background-image: url('img/bg/bg-blue-mobile.jpg');
  background-color: #95A8CB;
}
.red-mobile {
  background-image: url('img/bg/bg-red-mobile.jpg');
  background-color: #AB004F;
}
@media (orientation:portrait) {
  .preload {
      background-image: url('img/bg/bg-tyler-mobile.jpg'), url('img/bg/bg-pink-mobile.jpg'), url('img/bg/bg-gianni-mobile.jpg'), url('img/bg/bg-blue-mobile.jpg'),  url('img/bg/bg-culver-mobile.jpg'), url('img/bg/bg-red-mobile.jpg');
  }
}



/* IGNORE */
body {
  margin: 0;
}
div {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #F3E0D2;
}
